:root {
  background-color: #202124;
}

html, body, #root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flight-price-highlight {
  color: #8ab4f8;
  font-weight: 700;
}

.muted {
  color: rgba(255,255,255,0.65);
}